*{
    margin: 0;
    padding: 0;
}
body{
  font-family: "Roboto", Sans-serif;
}
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  width: 100vw;
  background: #fff;
  color: #000;
  height: 85px;
  z-index: 12;
  position: fixed;
  top: 0px;
}

.navlabel {
    color: rgb(0, 130, 182) !important;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
  }
  .menu-items {
    order: 2;
    display: flex;
    margin-right: 120px;
  }
  
  .menu-items li {
    list-style: none;
    margin-left: 4rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    padding: 5px;
    margin-top: 25px;
  }
  
  .menu-items a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }
  .menu-items a{
    width: max-content;
    position: relative;
    cursor: pointer;
   }
   .menu-items a::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background: rgb(0, 130, 182);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scalex(0);
   }
   .menu-items a:hover::after{
    transform: scalex(1);
  
   }
  
  .menu-items a:hover {
    color: rgb(0, 130, 182);
    transition: color 0.3s ease-in-out;
  }
  
  .logo {
    order: 1;
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
    margin-left: 35px;
  }
  .logoo{
    margin-top: 36px;
  }
  .banner{
    margin-top: 50px;
    max-height: 230px;
    overflow: hidden;
  }
  .banner img{
    height: 100%;
  }
  .industries{
    padding: 100px;
    padding-top: 50px;
  }
  .main-heading{
    color: rgb(0, 130, 182) !important;
    font-size: 35px;
    margin-bottom: 15px;

  }
  .industries h2:hover{
    color: rgb(0, 130, 182);
    cursor: pointer;

  }
  .mainbox{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
  }
  .box1, .box2, .box3, .box4{
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }
  .box img{
    width: 69px;
    height: 69px;
  }
.box1::before{
    content: "";
    width: 69px;
    height: 69px;
    background: url(../other\ images/medicine.png);
    margin-left: -69px;
    margin-bottom: -80px;
    background-repeat: no-repeat;
}
.box2::before{
    content: "";
    width: 69px;
    height: 69px;
    background: url(../other\ images/milk-jar.png);
    margin-left: -69px;
    margin-bottom: -80px;
    background-repeat: no-repeat;
}
.box3::before{
    content: "";
    width: 69px;
    height: 69px;
    background: url(../other\ images/personal-hygiene.png);
    margin-left: -69px;
    margin-bottom: -80px;
    background-repeat: no-repeat;
}
.box4::before{
    content: "";
    width: 69px;
    height: 69px;
    background: url(../other\ images/engine-oil.png);
    margin-left: -69px;
    margin-bottom: -80px;
    background-repeat: no-repeat;
}
.labels{
  background: url(https://www.prakashlabels.com//wp-content/uploads/2019/07/Auto-id-lower-banner.jpg?id=5901);
  height: 353px;
  display: flex;
  justify-content: center;
}
.labels h2{
  color: #ffffff;
  font-size: 100px;
  font-family: sans-serif;
  align-self: center;
}
.label-sol {
  display: flex;
  padding: 80px;
  justify-content: space-around;
}
.heading {
  font-size: 40px;
  color: rgb(0, 130, 182);
  margin-bottom: 10px;
}
.heading +p{
  font-size: 20px;
}
.sol-content h2 , .sol h2{
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#sol-id{
  animation: animate linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}
  @keyframes animate {
    from{
      transform: translateY(100%);
      opacity: 0;
    }
    to{
      transform: translate(0%);
      opacity: 100;
    }
  }
.sol-content , .sol , .col-1{
  max-width: 250px;
}
#sol-id h2:hover{
color: rgb(0, 130, 182);
cursor: pointer;
}
@media (min-width: 450px){
.sol-content{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 10px 20px;
  padding-bottom: 20px;
  max-height: fit-content;
}
.sol-content + .sol-content{
  margin-top: 70px;
}
.sol{
  margin-top: 35px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 10px 20px;
  max-height: fit-content;
  padding-bottom: 20px;
}
}
h2 img{
  padding-right: 10px;
}
.main-sec{
  padding: 50px;
  background-color: #257180;
}
.main-sec h3{
  font-size: 20px;
  margin-top: 17px;
  font-weight: 300;
  color: #fff;
}
.main-sec p{
  color: #f2e5bfd3;
  margin-top: 3px;
  margin-left: 15px;
  font-size: 20px;
}
.que-heading{
  font-size: 27px;
  color: #082a31;
  margin-bottom: 20px;
}
.que-content{
  max-width: 1000px;
}

  footer{
    display: flex;
    background-color: #1b1e20;
    color: #fff;
    justify-content: space-evenly;
    padding: 70px 0;
  }
  a{
    color: #fff;
    text-decoration: none;
  }
  .footer-about-us{
    max-width: 20vw;
  }
  .quick-links{
    max-width: 20vw;
  }
  .contact-us{
    max-width: 20vw;
  }
  .footer ,h3 ,p{
    padding-top: 0px;
    font-weight: 100;
  }
  footer a{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    font-size: 17px;
  }
  footer h2{
    margin: 20px 0;

  }
  footer p{
    font-size: 17px;
  }
  footer a ,p{
    color: #b4b4b4;
  }
  .rights{
    display: flex;
    background-color: #1b1e20;
    color: #fff;
    padding: 30px 0;
    justify-content: center;
  }

 footer h2{
  width: max-content;
  position: relative;
  cursor: pointer;
 }
 footer h2::after{
  content: "";
  position: absolute;
  bottom: -5px;
  height: 4px;
  width: 100%;
  left: 0;
  background: rgb(0, 130, 182);
 }
 .quick-links a:hover{
color: rgb(255, 255, 255);
 }
 @media (max-width: 768px) {


    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
      display: block;
    }
    .navbar{
      height: 95px;
    }
  
    .navbar-container {
      display: block;
      position: relative;
      height: 64px;
    }
  
    .navbar-container input[type="checkbox"] {
      position: absolute;
      display: block;
      height: 32px;
      width: 30px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
    }
  
    .navbar-container .hamburger-lines {
      display: block;
      height: 23px;
      width: 35px;
      position: absolute;
      top: 35px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .navbar-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #333;
    }
  
    .navbar-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar .menu-items {
      padding-top: 100px;
      background: #fff;
      height: 100vh;
      max-width: 300px;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -40px;
      padding-left: 50px;
      transition: transform 0.5s ease-in-out;
      box-shadow: 5px 0px 10px 0px #aaa;
    }
  
    .navbar .menu-items li {
      margin-bottom: 1.5rem;
      font-size: 1.3rem;
      font-weight: 500;
    }
    .logo {
      position: absolute;
      top: 0;
      right: 15px;
      font-size: 2rem;
      z-index: -1;
      margin-bottom: 0;
    }
    .logoo{
      max-width: 110px;
      margin-top: 5px;
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(35deg);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-35deg);
    }
    .banner{
        margin-top: 95px;
    }
}
@media (max-width: 450px){
    footer {
        flex-direction: column;
      }
      footer p{
        flex-direction: column;
        font-size: 16px;
        line-height: 26px;
      }
      .footer-about-us{
        max-width: 60vw;
        padding-left: 30px;
      }
      .quick-links{
        max-width: 80vw;
        padding-left: 30px;
      }
      .contact-us{
        max-width: 80vw;
        padding-left: 30px;
      }
      .rights h3{
        font-size: 12px;
      }
      .mainbox{
        flex-direction: column;
      }
      .industries{
        padding: 40px;
      }
      .content{
        padding: 10px 70px;
        padding-right: 40px;
        margin-top: 30px;
      }
      .box1, .box2, .box3, .box4{
        padding: 20px 0;
      }
      .mainbox{
        margin-top: 0;
      }
      .label-sol{
        flex-direction: column;
        padding: 20px 50px;
        margin-bottom: 50px;
      }
      .col-1{
        max-width: 350px;
      }
      .sol-content{
        max-width: 350px;
      }
    }
    @media (min-width: 650px) {
        .get-qoute{
          background-color: rgb(0, 130, 182);
          margin-top: 20px;
          padding-top: 10px;
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 20px;
          margin-left: 40px;
        }
        .get-qoute li{
          margin: 0;
          padding: 0;
        }
        .get-qoute li a{
          color: #fff;
        }
        .get-qoute li a:hover{
          color: black;
        }
        .product img:hover{
          transform: scale(1.2);
        }
      }